*.class
*.log
*.jar
*.war
*.DS_Store
*.pyc
**/pkg/*
**/mq-golang/*
**/Go/src/*
!**/Go/src/*.go
**/node_modules/*
.idea
JMS/target/maven-archiver/pom.properties
JMS/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
